<%- include('header'); -%>

<!DOCTYPE html>

<html lang="en">
<head>
	
	
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="js/jquery.mixitup.min.js"></script>
	<script src="js/js.js"></script>

	
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>


	<div class="container">
		<div class="header">
		<div class="row">
			<div class="col-xs-2">
				<img src="logo.png" alt="">
			</div>
			
			<div class="col-xs-5">
					<nav class="global-menu1">
						<ul>
							<li> <a href="" class="a1">Home</a>  </li>
							<li> <a href="">Prices</a> </li>
						</ul>	
					</nav>
			</div>


			<div class="col-xs-5">	
					<nav class="global-menu2">
						<ul>
							<li> <a href="" class="a2"> Project </a> </li>
							<li> <A HREF="">Logout </A> </li>
						</ul>	
					</nav>
			</div>

		


		</div>


	</div>
</div>



<section class="title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Create a user story easily</h1>
				</div>
			</div>
		</div>
</section>


<section class="box1">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				 Aliquam at porttitor sem. Aliquam erat volutpat. 
				 Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
			</div>
		

	
			<div class="col-xs-6">
			<img src="logo2.png" alt="">
			
			</div>

		</div>
	</div>
</section>


<section class="box2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<button class="log">Log in now</button>

			</div>
		</div>
	</div>
</section>


<section class="box3">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 navigation">
				<ul>
					<li><p class="easy first active">Easy</p></li>
					<li><p class="friendly">User-friendly</p></li>
					<li><p class="user">User</p></li>
					<li><p class="user-friendly">User-friendly</p></li>

				</ul>
				
			</div>

				<div class="col-xs-8 content">
					<div class="item" id="item-1">
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. </p>

						<div class="logo">
						    <img src="logo.png">
					    </div>
					</div>
<!--
					<div class="text">
						<p id="text2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. </p>
					</div>

					<div class="text">
						<p id="text3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. </p>
					</div>

					<div class="text">
						<p id="text4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. </p>
					</div>

-->


				</div>
			</div>
	
	</div>
</section>

<section class="box4">
<div class="container">
			<div class="col-xs-3">
				<img src="logo.png" alt="" class="img"></img>
				<h3>Ania</h3>
			
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. </p>



				
			</div>

			<div class="col-xs-3">
				<img src="logo.png" alt="" class="img"></img>
				<h3>Szymon</h3>
			
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. </p>



				
			</div>

			<div class="col-xs-3">
				<img src="logo.png" alt="" class="img"></img>
				<h3>Ewa</h3>
			
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. </p>



				
			</div>

			<div class="col-xs-3">
				<img src="logo.png" alt="" class="img"></img>
				<h3>Ania</h3>
			
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. </p>



				
			</div>
		</div>

	</section>

	<footer>
			<div class="container">
				<div class="row">
					<p> Copyright (c) 2015 8powers Sp. z o.o.</p>
					<a href="" >Regulamin</a>
					<a href="" class="a1">Kontakt</a>
				</div>
			</div>
	</footer>



<script type="text/javascript">


</script>




</body>
</html>

<%- include('footer'); -%>
