
.container {
	width: 65%;
}
.page-header {
	border-bottom: none;
}

.container .text-center div:nth-child(2) h1 {
	background-color: #c8c8c8;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
.container .text-center div section {
	background-color: #ebebeb;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-group {
	padding-top: 10px;
	
}

.btn {
	background-color: #79c1f2;
	color: #fff;
	font-weight: bold;
	border: none;
}

.photo {
	content: url("/images/empty.jpg");
}