.container {
	width: 70%;
}
.page-header {
	border-bottom: none;
}

.page-header h1 {
	font-size: 50px;
}

.navbar-nav li a:hover {
	background: none;
}

.navbar-nav li a::after {
    content: "";
    padding-left:0;
}

.navbar-nav li:last-child a::after {
    content: "";
}

.nav .separator a:hover {
    background: none;
}

.container .text-center div h1 {
	/* background-color: #c8c8c8; */
	margin-bottom: 0px;
	padding-bottom: 10px;
}
.container .text-center div div:first-of-type {
	background-color: #ebebeb;
	padding-top: 10px;
	padding-bottom: 10px;
}

.hoversDiv div:first-of-type {
	height: 180px;
}

.hoversDiv h1 {
	background-color: #c8c8c8;
}

.hoversH1 {
	background-color: #c8c8c8;
}


.btn-group {
	padding-top: 10px;
	
}

.btn {
	font-weight: bold;
}

.row div:nth-last-child(-n+2) img {
	display: block;
	margin: auto;
}

section {
	padding-top: 20px;
}

section:nth-last-child(-n+1) {
	padding-top: 50px;
}

section:first-of-type h3 {
	font-weight: bold;
}

.footer {
	margin-top: 30px;
}
